
  .jumbotron {
    background: #006e90;
    font-size: 52px;
    text-align: center;
    color: #99c24d;
  }
  body {
    background-image: url('disney.jpg');  
    font-family: 'Mouse Memoirs', sans-serif; 
    font-size:22px;
  }

  h2 {
    font-size: 36px;
    margin:auto auto 20px auto;
  }
  #question button {
    display: block;
    width: 30%;
    text-align: left;
  }
  #question button:focus {
    background: yellow;
  }
  #question button:hover {
    background: green;
  }
  #summary-text {
    border: 3px green dotted;
    border-radius: 8px;
    font-size: 40px;
    margin: 0 auto;
    width:550px;
    height: 100px;
  }
  img {
    object-position: cover;
    width:18%;
    height: 8%;
    margin:0 auto;
    margin-top:30px;
    margin-left:600px;
  }
  #wrapper {
    margin:0 auto;
    text-align: center;
    background:#f18f01;
    width:60%;
    padding-bottom:30px;
    border-radius: 5px;
    
  }
  #summary {
    margin:0 auto;
    text-align: center;
    background:#f18f01;
    width:55%;
    padding-bottom:15px;
    padding-top:15px;
    
  }
 button {
  margin:0 auto;
  margin-top:5px;
  border-radius: 3px;
 }
 button.btn {
   margin-top:30px;
   margin:0 auto;
   text-align: center;
 }
